.idea/
.gradle/
build/
gradle/
.metadata/
sandbox/build.gradle
sandbox/gradlew
sandbox/gradlew.bat

sandbox/src/main/java/inna/qa/dp/dp.iml
sandbox/src/main/java/inna/qa/dp/out/

dp/out/


# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache
.idea/workspace.xml
